$base-color: royalblue;

body,
html {
  box-sizing: border-box;
  color: #171717;
  font-family: arial;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  // width: 100%;
  margin: 0;
  overflow: auto;
  background-size: cover;
  background-color: #e7e7ea;
}

body {
  // overflow: auto;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
  // background-color: #ffffff17;
  position: absolute;
  top: 0;
  left: 0;

  &[v-cloak] {
    display: none;
  }

  .page {
    flex-grow: 1;
  }
}

header {
  // position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  border: none;
  height: 100%;
  width: 100%;
  // max-width: 1350px;
  // padding: 5%;
  color: black;
  padding: 0; // margin: 15px;
  // transition: max-height 0.3s ease-out; // note that we're transitioning max-height, not height!
  transition: all 0.6s ease-out; // note that we're transitioning max-height, not height!
  box-shadow: #4446 0 0px 2px;
  z-index: 20;

  .title {
    transition: font-size 0.5s ease; // note that we're transitioning max-height, not height!
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: #009688;
    // background-color: #ccce;
    // background-color: #ae1158;
    // color: #f7f7f7;
    padding: 0 15px;
    .text {
      flex: 1;
      font-weight: bold;
      vertical-align: middle;

    }
  }

  .input-div {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
    margin-top: 5px;
    // font-size: 1.2em;
    font-weight: bold;

    // .vs-input {
    //   margin-left: 7px;
    //   width: 100%;
    //   color: #373737;
    // }

    input {
      // margin-left: 7px;
      width: 100%;
      flex: 1;
    }
  }
  .settings-btn {
    position: relative;
    padding: 5px;

    .settings-drop {
      // min-width: 200px;
      min-height: 200px;
      position: absolute;
      top: 70px;
      left: -250px;
      right: 0;
      margin-right: 10px;
      border-radius: 7px;
      background: #f7f7f7;


      // visibility: hidden;
      // opacity: 0;
      // -prefixes-transition-property: opacity, visibility;
      // -prefixes-transition-duration: .4s, 0s;
      // -prefixes-transition-delay: 0s, .4s;
    }
  }

}

footer {
  box-sizing: border-box;
}

#page-success {
  // height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: royalblue;
  overflow: scroll;
  flex-wrap: wrap;
  z-index: 1;

  &.dark {
    // background-color: #000015;
    // background-color: #003399;
    background: transparent;
    color: #d7d7d7;
  }

  a {
    color: inherit;
    font-size: inherit;
  }

  .iframe {
    padding: 15px;

    &.upper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      border: none;
      width: 100%;
    }
  }

  iframe {
    border: none;
    border-radius: 7px;
    box-shadow: #4446 0 0 2px;
    // pointer-events: none;
    // zoom: 0.95;
  }
}

.image-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100%;
  // width: 100%;
  background-color: #ffffff88;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  img {
    object-fit: contain;
  }
}

#page-notfound {}

#page-root {}
@import "mobile";
@import "vuesax";
@import "animate";
