@media only screen and (max-width: 600px) {
  #page-success .main-bit .main-body .section {
    .vs-images {
      width: 100%;
      margin: 0 auto;

      .vs-images-ul {
        justify-content: center;
        align-items: center;
        .vs-image {
          width: calc(30%-4px);
        }
      }
    }
  }

  #page-success .main-bit .section-wrapper {
    flex-direction: row-reverse;
    overflow-y: scroll;
  }

  #page-success .main-bit .main-body {
    height: auto;
    overflow: initial;
  }

  #page-success .sidebar {
    margin: 80px 0 0 2px;
    padding: 15px;
    height: auto;
    border-radius: 7px;
    position: absolute;
    left: 15px;
    z-index: 70;
    background: #eeeeeecc;
    width: auto;
    border: #ccc 1px solid;
    box-shadow: #ccc 1px 1px 1px;

    &.left {
      position: inherit;
      width: 100%;
      margin: 0 auto;
    }

    &.dark {
      background: #000022aa;

    }

    i {
      // color: #f7f7f7;
      margin: 0 0 10px;
    }
  }

  header {
    display: flex;
  }
  // .main-bit header {
  //   display: none;
  // }
  #page-success .main-bit .main-body .section .card-image {
    width: 100%;
  }

  #page-success .main-bit .main-body .section .remain .text .vs-card--content {
    font-size: 16px;
  }

  #page-success .main-bit .main-body .section .remain .bold {
    font-size: 18px;
  }
}

@media only screen and (max-width: 550px) {

  .vs-image {
    width: calc(30% - 4px);
  }
}
