@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    // height: 80%;
    // padding: 30px;
    &.active {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      max-height: none;
      height: auto;
      flex-wrap: wrap;
      .title {
        flex: 1;
        height: auto;
        .text {
          text-align: left;

        }
      }
      .input-div {
        flex: 1;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        padding: 2px;
        font-size: 14px;
        .vs-input {
          padding: 0;
        }
      }
    }
    .settings-btn {
      padding-top: 10px;
    }
    .title{
      flex: 0;
      width: 100%;
      text-align: center;
    }
    .input-div {
      flex: 0;
      width: 100%;
      flex-direction: column;
    }
  }

  iframe {
    zoom: 0.3;
  }
}
