$brand-color:#A07D53;

@font-face {
	font-family: site;
	src: url(./site/fonts/);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: site;
	src: url(./site/fonts/);
	font-weight: bold;
	font-style: normal;
}