.vs-input--input {
  // background: #fff5;
  background: transparent;
  &:hover {
    height: 45px;
  }
}

.vs-con-input .vs-icon {
  // background: #fff;
  transition: font-size 0.3s;
  &:hover {
    cursor: pointer;
    font-size: 22px;
    color: blue;
  }
}

header .input-div .vs-input {
  margin: 0 7px;
  padding: 0 10px;
  width: 100%;
  flex: 1;
  color: #373737;

  &.active {
    input {
      // width: 100%;
      width: 200px;
      transition: width 2s;

      &:active,
      &:focus {
        // max-width: 100%;
        width: 100%;
      }
    }
  }
}

.vuesax-app-is-ltr .vs-input--input.hasValue+.vs-placeholder-label,
.vuesax-app-is-ltr .vs-input--input:focus+.vs-placeholder-label {
  margin-top: 5px;
}
